.CRUDInterface {
    display: relative;
    background: lightskyblue;
    text-align: center;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 12px;
}

.Header {
    border-radius: 25px;
    display: inline-block;
    position: relative;
    background: orange;
    color: brown;
    font-family: fantasy;
    font-size: 1.105em;
    padding-top: 4px;
    text-align: center;
    width: 50%;
    height: 13%;
    top: 10px;
    left: 26.8%;
}

.Interface {
    position: relative;
    background: white;
    border-color: black;
    border-width: 3px;
    border-style: outset;
    height: auto;
    width: 60%;
    margin-top: 2%;         /*These are col-6 attributes*/
    margin-left: 20%;
    margin-bottom: 2%;
}

.TinyInterfaceHeader {
    border-radius: 25px;
    display: inline-block;
    position: relative;
    background: orange;
    color: brown;
    font-family: fantasy;
    text-align: center;
    width: 50%;
    left: 8.8%;
}

.OperationWrapper {
    padding-bottom: 3%;
}

.TinyInterfaceButtonGroup {
    background: aquamarine;
    margin-top: 20%;
}

.TIButton {
    padding: inherit;
}

.ScrollableForm {
    overflow: scroll;
    max-height: 150px;
    font-size: 1vw;
    word-break: break-all;
    border-style: solid;
    border-color: black;
    /*font-size: 1vw;
    Scaling down the items*/
    transform: scale(0.9, 0.9);
    -ms-transform: scale(0.8, 0.8); /* IE 9 */
    -webkit-transform: scale(0.9, 0.9); /* Safari and Chrome */
    -o-transform: scale(0.8, 0.8); /* Opera */
    -moz-transform: scale(0.8, 0.8); /* Firefox */
}