<div class="container-fluid">
  <div class="row">
    
    <div class="col-3">
      <div class="row">
        <player-position
          [shouldUseDefaultKeys]="true"
          [customCss]="{'background-color' : 'green'}"
          (positionClickEvent)='selectPlayerPosition($event)'>
        </player-position>
      </div>
    </div>

    <div class="col-4">
      <h4>Who has the first pick?</h4>
      <select>
        <option value="'Friendly'">Friendly team</option>
        <option value="'Opponent'">Opponent team</option>
      </select>
    </div>

      <div class="col-4">
        <h3>Your position: <b class="Prettify">{{playerPositionFull}}</b></h3>
      </div>

    </div>
  </div>

<div class="row AlignedBtn">
  <button class="btn btn-success" [disabled]="canProceed()" (click)="showMainPage()">Go to champion picks page!</button>
</div>