.bgimg {
    /* background-image: url('../../../assets/8.9.1/img/sprite/champion1.png'); */
}

.CenteredBtn {
    margin-top: 3%;
    justify-content: center;
}

.PlayerPos {
    max-height: 200px;    
}