<div class="container-fluid" [ngStyle]="{'margin-top' : '2%'}" *ngIf="isUserLoggedIn()">
  <div class="row">
    <div class="col-3" [ngStyle]="{'background-color' : 'green'}">
      <player-position
        [playersType]="'Friendly'"
        [customCss]="{'background-color' : 'green'}"></player-position>
    </div>
    <div class="col-6">
      <champion-area></champion-area>
    </div>
    <div class="col-3" [ngStyle]="{'background-color' : 'red'}">
        <player-position
          [playersType]="'Opponent'"
          [customCss]="{'background-color' : 'red'}"></player-position>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="isUserLoggedIn() === false">
  <h1>Please, <a href="/register">login</a> with your summoner username and a custom password to continue</h1>
</div>