<div class="container-fluid" [ngStyle]="{'margin-top' : '2%'}" *ngIf="isUserLoggedIn()">
  <div class="row">
    
    <div class="col-3 PlayerPos" [ngStyle]="{'background-color' : 'green', 'padding': '1% 1% 1% 1%'}">
       <!--Promeni shouldUseDefaultKeys u true kada zavrsis komponentu-->
      <player-position    
        [shouldUseDefaultKeys]="true"
        [playersType]="'Friendly'"
        [customCss]="{'background-color' : 'green'}"
        (positionClickEvent)='changeSelectedPosition($event)'></player-position>
    </div>
    
    <div class="col-6">
      <champion-area
        [selectedPosition]='selectedPosition'
        (championSelectEvent)='setSelectedChampions($event)'></champion-area>
    </div>

    <div class="col-3 PlayerPos" [ngStyle]="{'background-color' : 'red', 'padding': '1% 1% 1% 1%'}">
        <player-position
          [shouldUseDefaultKeys]="true"
          [playersType]="'Opponent'"
          [customCss]="{'background-color' : 'red'}"
          (positionClickEvent)='changeSelectedPosition($event)'></player-position>
    </div>

  </div>
  <div class="row CenteredBtn">
    <button class="btn btn-success" (click)='generate()'>Generate!</button>
  </div>
</div>