.Text {
    font-size: 0.9em;
    color: wheat;
    cursor:  default;
    justify-content: center;
}

.ChampImage {
    background: orange;
    width: 80%;
    height: 8%;
    cursor: pointer;
}

.ChampSelect:hover {
    cursor: pointer;
    border-style: inset;
    border-color: teal;
}