.loginForm {
  width: 50%;
  align-items: center;
  align-self: center;
  padding-top: 10px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.CenteredButton {
  justify-content: center;
}