<div class="Wrapper" *ngIf="(selectedPosition !== null && selectedPosition !== undefined) || !shouldWaitForPositionSelection">
<div class="container-fluid" >
  <div class="row Header">
    <div class="col-7">
      <p *ngIf="shouldShowCaption !== null && shouldShowCaption">{{selectedPosition['type']}} 
          {{selectedPosition['type']=='Friendly' ? positions[selectedPosition['id']][0]
                                                 : positions[selectedPosition['id']][1]}}</p>
    </div>
      <div class="paddedarea col-5">
        <input type="text" placeholder="Filter by name" [(ngModel)]='filter' 
          (input)="filterChamps()"/>
      </div>
  </div>
  <div class='row ChampionGrid ScrollableArea'>
      <champion-holder *ngFor='let champion of filteredChampList'
        [champion]='champion'
        (championSelectionEvent)='selectChampion($event)'></champion-holder>
  </div>
</div>
  
</div>

<div class="container-fluid ScrollableArea" *ngIf="(selectedPosition === null || selectedPosition === undefined) && shouldWaitForPositionSelection">
  <div class="row">
      <h3 align="center" *ngIf="version !== null && version !== undefined">Patch version: {{version}}</h3>
  </div>
  <div class="row">
      <h5 align="center">Pick a position to see champions</h5>
  </div>
</div>