<div class="Wrapper" *ngIf="selectedPosition !== null && selectedPosition !== undefined">
<div class="container-fluid ScrollableArea" >
  <div class="row Header">
    <div class="col-7">
      <p>{{selectedPosition['type']}} 
          {{selectedPosition['type']=='Friendly' ? positions[selectedPosition['id']][0]
                                                 : positions[selectedPosition['id']][1]}}</p>
    </div>
      <div class="paddedarea col-5">
        <input type="text" placeholder="Filter by name" [(ngModel)]='filter' 
          ng-change="filterChamps()"/>
      </div>
  </div>
  <div class='row ChampionGrid'>
      <champion-holder *ngFor='let champion of filteredChampList'
        [champion]='champion'
        (championSelectionEvent)='selectChampion($event)'></champion-holder>
  </div>
</div>
  
</div>

<div class="container-fluid ScrollableArea" *ngIf="selectedPosition === null || selectedPosition === undefined">
  <div class="row">
      <h3>PUSI KITU JEBEM TI LEBA :D VERZIONE: {{champs.version}}</h3>
  </div>
</div>