.ScrollableArea {
    /* background: url('../../../../assets/img/bg/A6000000.png'); */
    overflow-y: scroll;
    color: gold;
    border-style: outset;
    border-color: cornflowerblue;
}

.paddedarea {
    font-size: 10px;
}

.ChampionGrid {
    display: grid;
    grid-template-columns: 16.666666667% 16.666666667% 16.666666667% 16.666666667% 16.666666667% 16.666666667%;
    justify-content: space-evenly;
    height: 250px;
}

.Wrapper {
    max-height: 80%;
}

p {
    font-size: 20px;
    border-style: solid;
    border-color: cornflowerblue;
    border-collapse: separate;
    margin-bottom: 1%;
    color: yellow;
}

input {
    margin-bottom: -0.5%;
    justify-content: baseline;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
}