<h2 align="center">Our recommendations. Select a champion to see recommended runes.</h2>

<div class="container-fluid">

  <div class="row">
    <div class="col-2">
      <h4 align="center">Spells</h4>
      <summoner-spells 
        [summonerSpells]="summonerSpells"></summoner-spells>
    </div>
    <div class="col-6">
        <h4 align="center">Champions</h4>
        <champion-area *ngIf="champList.length > 0 && champList !== null && champList !== undefined"
          [shouldWaitForPositionSelection]="false"
          [champList]='champList'
          (championSelectEvent)='getRunes($event)'></champion-area>
        <p *ngIf="champList.length === 0 && champList === null && champList === undefined">
          No recommended champions for these picks. :(
        </p>
    </div>
    <div class="col-4">
        <h4 align="center">Runes</h4>
          <runes
            [runesObject]="runesObject"></runes>
    </div>
  </div>
</div>