<div class="container-fluid">

  <div class="row" align="center">
      <h3 align="center">These are recommended champions, forged just for you.</h3>
      <h5 align="center">Pick a champion and recommended <strong>runes</strong> and <strong>summoner spells</strong> will appear.</h5>
  </div>


  <div class="row">
    <div class="col-2">
      <h6>Spells</h6>
      <summoner-spells 
        [summonerSpells]="summonerSpells"></summoner-spells>
    </div>
    <div class="col-6">
        <champion-area
          [shouldWaitForPositionSelection]="false"
          [champList]='champList'
          (championSelectEvent)='setSelectedChampions($event)'></champion-area>
    </div>
    <div class="col-4">
      <p>Here go runes</p>
    </div>
  </div>
</div>