<div class="row RequestWrapper" *ngIf="type === types.ACPTDEC">
  <div class="col-sm-6" align="left">
    {{requestText}}
  </div>
  <div class="col-sm-3" align="right">
    <button class="btn btn-success" (click)="accept($event)">Accept</button>
  </div>
  <div class="col-sm-3">
    <button class="btn btn-success" (click)="decline($event)">Decline</button>
  </div>
</div>

<div class="row RequestWrapper" *ngIf="type === types.ADD_REMOVE">
  <div class="col-sm-6" align="left">
    {{requestText}}
  </div>
  <div class="col-sm-3" align="right">
    <button class="dynamicClass" (click)="singleAction($event)">{{activeAction}}</button>
  </div>
</div>
