.registerForm {
  width: 50%;
  align-items: center;
  align-self: center;
  padding-top: 10px;
}

.errorContainer {
  font-size: 1.2em;
  margin-left: 25%;
  width: 50%;
}

@keyframes bounce {
  from {
    transform: scaleX(0%);
    transform: scaleY(0%)
  }
  to {
    transform: scaleY(100%);
    transform: scaleX(100%);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: scaleX(0%);
    transform: scaleY(0%)
  }
  to {
    transform: scaleY(100%);
    transform: scaleX(100%);
  }
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.CenteredButton {
  justify-content: center;
}