<div class="container-fluid Wrapper" [ngStyle]="customCss">

  <div class="row Header" *ngIf="playersType != null && playersType != undefined">
    {{playersType}} Players 
    {{firstPick === playersType ? ' - First Pick' : ''}}
  </div>

  <div class="row Header" *ngIf="(playersType == null || playersType == undefined) && (header == null || header == undefined)">
    What is your position?
  </div>

  <div class="row Header" *ngIf="(playersType == null || playersType == undefined) && (header !== null || header !== undefined)">
    {{header}} {{firstPick}}
  </div>

  <div *ngFor='let positionkey of keyz'>  
    <div class="row" id="{{positionkey}}" (click)="onPositionClick($event)" 
        [ngClass]="{'Active': activePosition === positionkey, 
                    'Section' : activePosition !== positionkey,
                    'MyPosition': myPosition === positionkey}">
      <div class="col-4" *ngIf="selectedChampions[positionkey] !== null">
        <img src="{{createImagePath(selectedChampions[positionkey].imageInfo.full)}}" class="img-fluid CoinImage" />
      </div>
      <div class="col-4" *ngIf="selectedChampions[positionkey] === null">
        <img src="../../../../assets/8.9.1/img/sticker/poro-laugh.png" class="img-fluid CoinImage" 
              *ngIf="positionkey === 'top'"/>
        <img src="../../../../assets/8.9.1/img/sticker/poro-shock.png" class="img-fluid CoinImage" 
              *ngIf="positionkey === 'jg'"/>
        <img src="../../../../assets/8.9.1/img/sticker/poro-angry.png" class="img-fluid CoinImage" 
              *ngIf="positionkey === 'mid'"/>
        <img src="../../../../assets/8.9.1/img/sticker/poro-coolguy.png" class="img-fluid CoinImage" 
              *ngIf="positionkey === 'bot'"/>
        <img src="../../../../assets/8.9.1/img/sticker/poro-poo.png" class="img-fluid CoinImage" 
             *ngIf="positionkey === 'sup'"/>
      </div>
      <div class="col-8" 
          *ngIf="selectedChampions[positionkey] === null && playersType === 'Friendly' ">
          {{myPosition === positionkey ? 'Your position - ' : ''}} {{positions[positionkey][0]}}
      </div>
      <div class="col-8" *ngIf="selectedChampions[positionkey] === null && playersType === 'Opponent'">
        {{positions[positionkey][1]}}
      </div>
      <div class="col-8" *ngIf="selectedChampions[positionkey] !== null">
        {{selectedChampions[positionkey].name}}
      </div>
      <div class="col-8" 
          *ngIf="playersType === null || playersType === undefined">
          {{positions[positionkey][0]}}
      </div>
    </div>
  </div>
