<div class="container-fluid Wrapper" [ngStyle]="customCss">

  <div class="row Header">
    {{playersType}} Players
  </div>

  <div class="row" id="top" (click)="onPositionClick($event)" 
      [ngClass]="{'Active': activePosition === 'top', 'Section' : activePosition !== 'top'}">
    <div class="col-4">
      <!--img src="../../../../assets/8.9.1/img/sticker/poro-laugh.png" class="img-fluid CoinImage"/-->
    </div>
    <div class="col-8" *ngIf="playersType === 'Friendly'">
      Top
    </div>
    <div class="col-8" *ngIf="playersType !== 'Friendly'">
      Position 1
    </div>
  </div>

  <div class="row" id="jg" (click)="onPositionClick($event)" 
      [ngClass]="{'Active': activePosition === 'jg', 'Section' : activePosition !== 'jg'}">
    <div class="col-4">
      <!--img src="../../../../assets/8.9.1/img/sticker/poro-shock.png" class="img-fluid CoinImage"/-->
    </div>
    <div class="col-8" *ngIf="playersType === 'Friendly'">
        Jungle
    </div>
    <div class="col-8" *ngIf="playersType !== 'Friendly'">
      Position 2
    </div>
  </div>

  <div class="row" id="mid" (click)="onPositionClick($event)" 
      [ngClass]="{'Active': activePosition === 'mid', 'Section' : activePosition !== 'mid'}">
    <div class="col-4">
      <!--img src="../../../../assets/8.9.1/img/sticker/poro-angry.png" class="img-fluid CoinImage"/-->
    </div>
    <div class="col-8" *ngIf="playersType === 'Friendly'">
      Mid
    </div>
    <div class="col-8" *ngIf="playersType !== 'Friendly'">
      Position 3
    </div>
  </div>

  <div class="row" id="sup" (click)="onPositionClick($event)" 
      [ngClass]="{'Active': activePosition === 'sup', 'Section' : activePosition !== 'sup'}">
    <div class="col-4">
      <!--img src="../../../../assets/8.9.1/img/sticker/poro-poo.png" class="img-fluid CoinImage"/-->
    </div>
    <div class="col-8" *ngIf="playersType === 'Friendly'">
      Support
    </div>
    <div class="col-8" *ngIf="playersType !== 'Friendly'">
      Position 4
    </div>
  </div>

  <div class="row" id="bot" (click)="onPositionClick($event)" 
      [ngClass]="{'Active': activePosition === 'bot', 'Section' : activePosition !== 'bot'}">
    <div class="col-4">
      <!--img src="../../../../assets/8.9.1/img/sticker/poro-coolguy.png" class="img-fluid CoinImage"/-->
    </div>
    <div class="col-8" *ngIf="playersType === 'Friendly'">
      Bottom
    </div>
    <div class="col-8" *ngIf="playersType !== 'Friendly'">
      Position 5
    </div>
  </div>
</div>

