<div class="ScaleDown"> 
    <nav class="navbar navbar-collapse navbar-toggleable-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Pick Recommender</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item py-0">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item py-0">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item py-0">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item py-0">
                <a class="nav-link" href="">Picker</a>
            </li>
            <li class="nav-item py-0">
                <a class="nav-link" href="">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
</div>
